.shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.profile-tab-nav {
  min-width: 250px;
}

.tab-content {
  flex: 1;
}

.form-group {
  margin-bottom:10px;
  border-bottom: 1px solid rgb(228, 228, 228);

}
.form-group label {
  font-size: 18px;
}
.nav-pills a.nav-link {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #333;
}
.nav-pills a.nav-link i {
  width: 20px;
}

.img-circle img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 1px solid #474747;

}
.img-circle{
  position: relative;
}
.edit-image{
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.form-profile {
  display: flex;
  flex-direction: column;

}

.avatar-file {
  object-fit: cover;
}

.form-profile h1 {
  text-transform: uppercase;
}

.profile-input{
  border: none !important;
}
.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 110px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle i {
  font-size: 18px;
  color: #666;
}

.password-toggle.active i {
  color: #007bff;
}

.row-form{
  display: flex;
  gap: 200px;
}
.row-1{
  width: 400px;
}

.row-2{
  width: 500px;
}
.btn-update-user{
  width: 180px;
  height: 50px;
  font-size: 18px;
}